<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>Tech Blog!</h1>
    
    <nav>
      {{#if loggedIn}}
      <a href="/" class="homepage">Homepage</a>
      <a href="/dashboard" class="dashboard">Dashboard</a>
      <button id="logout" class="logout">Logout</button>
      {{else}}
      <a href="/" class="homepage">Homepage</a>
      <a href="/login" class="login">Login</a>
      {{/if}}
    </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </div>

  <script src="/js/logout.js"></script>
  
</body>

</html>
