<article>
  <a href="/dasboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
  <form class="edit-post-form">
    <div>
      <input name="=post-title" type="text" value="{{post.title}}"/>
    </div>
    <div>
      <textarea name="post-text" type="text">{{post.text}}</textarea>
    </div>
    <div>
      <button type="submit">Update Post</button>
      <button type="button" class="cancel">Cancel</button>
    </div>
  </form>  
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-text" type="text"></textarea>
  </div>
  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

<script src="/js/editPost.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/deletePost.js"></script>
