<form class="signup-form">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username-signup" name="username" placeholder="Enter Username" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email-signup" name="email" placeholder="Enter Email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password-signup" name="password" placeholder="Enter Password" required>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<script src="/js/signUp.js"></script>
