:root {
    --primary:#575a65;
    --light:#d4c7c7;
    --primary-hover:#367170;
}

body, html, input, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--light);
}

a:hover {
    color: var(--light);
}

.blog-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--light);
}

.create-btn {
    background-color: var(--light);
    color: var(--primary);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.create-btn:hover {
    background-color: var(--light);
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: var(--light);
    background-color: var(--primary);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--light);
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light);
    margin-bottom: 1rem;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--light);
}

input[type="submit"] {
    background-color: var(--light);
    color: var(--primary);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blog-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary);
}


main {
    background-color: var(--primary);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--light);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--light);
}

.delete-post-btn {
    background-color: var(--light);
}

.comment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}